body{
    font-family: "Alice", serif;
    font-weight: 400;
    font-size: 1.6rem;
}

h1{
    font-size: 4rem;
    color: var(--text-color-primary);
    line-height: 140%;
}

h2{
    font-size: 2rem;
    color: var(--text-color-primary);
    line-height: 150%;
}

p li{
    color: var(--text-color-secondary);
    line-height: 150%;
}